/*css*/


img { border: none; }
a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: none}
button { border: none; cursor: pointer;}

#personword_bg {
    height: 705px;
    width: 1020px;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    background-image: url(../../img/summary_bg.png) ;
}
#personword_header{
    position: absolute;
    height: 47px;
    width: 626px;
    left: 294px;
    top: 18px;
}
.personword_header_a {
    display: block;
    float: left;
    height: 30px;
    width: 72px;
    margin-left: 38px;
    color: #7790a7;
    font-size: 18px;
    text-align: center;
}
.personword_header_a1{
    border-bottom: 3px solid #1d91ff;
}
.personword_header_a3{
    margin-left: 0;
}
.personword_header_loge {
    position: absolute;
    right: 110px;
    top: -10px;
    width: 44px;
    height: 44px;
    border: 1px solid #2996fe;
    border-radius: 50%;
    background-color: #fff !important;
    background-position: center center !important; 
    background-size:100% 100% !important;
    overflow: hidden;
}
#personword_header p{
    position: absolute;
    left: 525px;
    top: 4px;
    font-size: 12px;
    color: #7790a7;
}
.personword_header_a2{
    position: absolute;
    right: 22px;
    top: 4px;
    font-size: 12px;
    margin-left: 0;
}
#personword_left {
    position: absolute;
    width: 136px;
    height: 526px;
    top: 60px;
    left: 100px;
    background-color: #fff;
}
#personword_left button {
    width: 136px;
    height: 30px;
    border: 1px solid #1d91ff;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    background-color: #fff;
    margin-top: 5px;
}
#personword_left .personword_button1 {
    background-color: #1d91ff;
    margin-top: 13px;
}

#personword_right {
    position: absolute;
    top: 60px;
    right: 100px;
    height: 526px;
    width: 676px;
    background-color: #fff;
}
.personword_right_up {
    position: absolute;
    top: 0px;
    left: 8px;
    width: 660px;
    height: 248px;
    border-bottom: 1px solid #1d91ff;
}
#personword_right .personword_right_up img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 329px;
    height: 220px;
}
.personword_back {
    position: absolute;
    color: #333;
    right: 42px;
    top: 18px;
    font-size: 12px;
}
.delectflie {
    position: absolute;
    color: #333;
    right: 10px;
    top: 18px;
    font-size: 12px;
}
.personword_change {
    position: absolute;
    color: #a0a0a0;
    right: 27px;
    bottom: 25px;
    font-size: 12px;
}
.personword_addfile {
    position: absolute;
    color: #a0a0a0;
    right: 85px;
    bottom: 25px;
    font-size: 12px;
}
.personword_right_up_p1{
    position: absolute;
    left: 369px;
    top: 78px;
    color: #333;
    font-size: 14px;
}
.personword_right_up_p2{
    position: absolute;
    left: 369px;
    top: 109px;
    color: #333;
    font-size: 14px;
}
.personword_right_up_p3{
    position: absolute;
    left: 369px;
    top: 140px;
    color: #333;
    font-size: 14px;
}
.personword_right_up_p4{
    position: absolute;
    left: 369px;
    top: 171px;
    color: #333;
    font-size: 14px;
}
.personword_right_down {
    position: absolute;
    bottom: 0px;
    width: 100%px;
    height: 278px;
}
.personword_right_down_p1 {
    position: absolute;
    top: 16px;
    left: 38px;
    font-size: 14px;
    color: #333;
}
.personword_right_down_p2 {
    position: absolute;
    top: 97px;
    left: 38px;
    font-size: 14px;
    color: #333;
}
.personword_right_down_text1 {
    position: absolute;
    top: 51px;
    left: 46px;
    width: 588px;
    height: 24px;
    font-size: 12px;
    border: none;
    color: #9e9e9e;
}
.personword_right_down_text2 {
    margin-left: 46px;
    margin-top: 133px;
    width: 588px;
    height: 131px;
    font-size: 12px;
    border: none;
    color: #9e9e9e;
}
#changeword {
    display: none;
    height: 580px;
    width: 1020px;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.4);
}
.changeword_body {
    width: 370px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -165px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}
.changeword_right {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 350px;
    height: 350px;
    background-color: #fff;
}
.changeword_right_head {
    width: 100%;
    height: 36px;
    margin-top: 4px;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #c2c2c2;
}
.changeword_right ul{
    width: 100%;
    height: 290px;
    overflow-y: auto;
    padding-top: 20px;
}
.changeword_right ul li {
    position: relative;
    width: 100%;
    height: 50px;
}
.changeword_right ul li p {
    line-height: 20px;
    display: block;
    width: 40%;
    font-size: 14px;
    margin-left: 40px;
}
.changeword_right ul li input {
    position: absolute;
    right: 20px;
    top: 0px;
    height: 19px;    
    width: 200px;
    font-size: 12px;
}
.changeword_right_input6{
    height: 70px;
    width: 250px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
}



.changeword_right_li8 .slider1_p{
    display: block;
    position: relative;
    left: 60px;
}
.slider1 {
    -webkit-appearance: none;
    max-width: 350px;
    width: 100px;
    height: 10px;
    outline: none;
    border: none;
  }
  .slider1::-webkit-slider-thumb{
      -webkit-appearance: none;/*清除默认样式*/
      height:25px;/*设置滑块高度*/
      width:25px;/*设置滑块宽度*/
      background: #fff;/*设置背景色*/
      border-radius:50%;/*加个圆角边*/
      /* margin-top:-1vw; 使用position的话会导致滑块不滑动,但是绑定的value是改变的,所以这里使用margin-top去做定位*/
      box-shadow: 0 1px 1px rgba(0,0,0,.5);
      cursor: pointer;
  }
  .slider1::-webkit-slider-runnable-track{
      border-radius: 30px;
      background:rgb(163, 163, 165);
      height:25px;
  }

.changeword_right_li8{
    margin-top: 30px;
}
.changeword_right_input7{
    height: 30px;
    width: 250px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.changeword_right button {
    width: 60px;
    height: 25px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 145px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 100;
    background-color: #2996fe;
    color: #fff;
}
.changeword_body img {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
} 
.changeword_right_input7_P{
    line-height: 20px;
    display: block;
    width: 40%;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 70px;
}
#delectprj {
    display: none;
    height: 580px;
    width: 1020px;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.4);
}
.delectprj_body {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
.delectprj_body1 {
   width: 100%;
   height: 160px;
   margin-top: 20px;
   background-color: #fff;
   border-top: 1px solid rgb(168, 168, 168);
   border-bottom: 1px solid rgb(168, 168, 168);
}
.delectprj_body p {
    text-align: center;
    padding-top: 30px;
}
.delectprj_btn1 {
    border-radius: 6px;
    width: 70px;
    cursor: pointer;
    border: 1px solid #2996fe;
    background-color: #2996fe;
    color: #fff;
    margin-top: 50px;
    margin-left: 20px;
}
.delectprj_btn2 {
    border-radius: 6px;
    border: 1px solid #9e9e9e;
    width: 70px;
    cursor: pointer;
    margin-left: 20px;
}
#addword {
    display: none;
    height: 580px;
    width: 1020px;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.4);
}
.personword_addword_body {
    width: 340px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -170px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
.addword_left {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 356px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    overflow-x: hidden;
 
}
.addword_left_head {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
}
.addword_left ul{
    width: 100%;
    height: 310px;
    overflow-y: auto;
}
.addword_left ul li {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 6px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.addword_left ul li p {
    line-height: 20px;
    display: block;
    width: 40%;
    font-size: 12px;
    margin-right: 0px;
}
.addword_left ul li input {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 19px;    
    width: 160px;
    font-size: 12px;
    cursor: pointer;
}
.personword_addword_body img {
    position: absolute;
    top: 6px;
    right: 20px;
    cursor: pointer;
}
.addword_left button {
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    background: #2996fe;
    color: #fff;
    margin-left: 110px;
    margin-bottom: 10px;
}





