body,ul,li,a,div,span.h,p,button,canvas{
    margin:0;
    padding:0;
}
canvas,div,span,section,header,article,nav,footer,ul,li,button{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    
    // background-color:#f4f4f4;
    
    background: linear-gradient(to right,#ffffff , #f4f4f4 ,#ffffff );
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type:none;
} 
a{
    text-decoration:none;
    color:inherit;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    
}
input{
    border:none;
    outline:none;
}
input::-webkit-input-placeholder {
  color:#6b6b6b;
  font-size: 14px;
}
input:-moz-placeholder {
  color:#6b6b6b;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color:#6b6b6b;
  font-size: 14px;
}

@media only screen and (max-width: 1600px) and (min-width: 1280px){
    html{
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 1280px) and (min-width: 960px){
    html{
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 960px){
    html{
      font-size: 12px;
    }
  }